@if(isDone()){
<ng-content></ng-content>
}@else{

<div class="timer">
  <div class="box">
    <div class="value">{{ days() }}</div>
    <div class="key">T&auml;g</div>
  </div>

  <div class="box">
    <div class="value">{{ hours() }}</div>
    <div class="key">Stund&auml;</div>
  </div>

  <div class="box">
    <div class="value">{{ minutes() }}</div>
    <div class="key">Minut&auml;</div>
  </div>

  <div class="box">
    <div class="value">{{ seconds() }}</div>
    <div class="key">Sekund&auml;</div>
  </div>
</div>

}
