:host {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

main {
  height: 100%;
  width: 100%;
  background-image: url("/cloud.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

nav {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
