@use "@angular/material" as mat;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: "Gorditas", Roboto, monospace;

  h1 {
    font-size: 2.5em;
    font-family: "Chewy", "Consolas", monospace;
    text-align: center;
  }
}

@font-face {
  font-family: "Chewy";
  src: url("../public/fonts/Chewy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gorditas";
  src: url("../public/fonts/Gorditas-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gorditas";
  src: url("../public/fonts/Gorditas-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.bottom-sheet-overrides(
    (
      container-text-font: "Gorditas",
    )
  );

  @include mat.list-overrides(
    (
      list-item-label-text-font: "Gorditas",
      list-item-supporting-text-font: "Gorditas",
    )
  );
}
